<div style="display: flex;">
    <tagButton tag="Angular"></tagButton>
    <tagButton tag="C#" canDelete="true" (delete)="ondelete($event)" ></tagButton>
   <tagButton tag="Type Script" ></tagButton>
   <tagButton tag="CSS" canDelete="true" (delete)="ondelete($event)" ></tagButton>
</div>

<!-- 刪除會同時刪除 -->
<hr />
可以新增/刪除
<tagList [(List)]="tags"></tagList>
<hr />
只能列表
<tagList [List]="tags" [readOnly]="true"></tagList>

<!-- lab03 -->
 <!--  -->
<!-- lab03 -->
<app-demo-content1>
    <p>這是投射內容</p>
    <p tips>選我選我</p>
    <!-- 加上#是命名 沒有的時候是SELECTOR -->
    <p #antherTips>另一個選擇</p>

 </app-demo-content1>

 <button (click)="changeColor()">改變顏色</button>